.source {
    margin-top: 50px;
}
.thumbnail {
    height: 500px
}
.News {
    margin-top: 50px;
    clear:both
}
.newsrow{
    padding: 25px
}
.newsthumb {
padding: 30px
}
.footer {
 background-color: black
}
.Demo__some-network {
        display: inline-block;
        margin-right: 15px;
        text-align: center;
        }
.login {
    margin-top: 100px
}