$col:#36486b;
$col2:#fefbd8;
$col3:#f7786b;

.content {
  height:600px;
    overflow-y: scroll;
    padding-top: 18px;
    margin-top: 2px;
    max-width: 1000px;
    margin: auto;
    background-color:white;
}
.search{
  margin-bottom: 20px;
  margin-top: 20px
}
.news{
  padding: 0px 20px;
  margin: 0px;
}
.arrow {
    float: right;
    margin-top: 3.5em;
  &:hover {
  filter:invert(100%);
  transform: scale(1.3)
  }
}
.well{
  border: 2px solid $col;
  color:$col;
  background-color: white;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
   margin: -75px 0 0 -75px;
  border: 10px solid $col2;
  border-radius: 50%;
  border-top: 10px solid $col;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.Demo__some-network {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
.info{
  background-color: white;
  margin-bottom: 30px;
}
.newsrow{
  padding:0px;
  margin: 0px;
}
.thumbnail{
  padding: 0px;
}
// .share {
//   float:right;
// }
h4{
  color:$col3;
  font-family: 'Lobster', cursive;
}
p{
 font-family: 'Play', sans-serif;
}
h3{
  font-family: 'Playfair Display', serif;
}
.newsHeader{
  font-size: 55px;
  font-weight: bold;
  color:#f7786b;
}
.sort{
  margin-top: 30px;
}
.labelsort {
  color:$col;
  margin-top:2px;
  font-family: 'Play', sans-serif;
  font-size: 20px;
}
.login{

  background-color:   $col;
  border: 10px $col solid;
    transform: scale(0.6);
}
.loginheader {
  margin-top:70px;
  font-size: 120px;
  font-family: 'Lobster', cursive;
  color:white;
}
.logindiv{
  margin-top:35px;
  font-size: 40px;
  color:white;

}

.loginpage{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
    overflow: scroll;
    //height:1500px;
    background:$col;
}
.Newsify {
 font-family: 'Lobster', cursive;
 font-size: 25px;
 font-weight: bold;
}
.navbar{
  background-color: $col;
  margin-bottom: 0;
  border-radius: 0;
  letter-spacing: 4px;
}
.navbar li a, .navbar .navbar-brand {
      color: #fff !important;
      }
.navbar-nav li a:hover {
      color: $col !important;
      background-color: white !important;
      }
.glyphicon-search, .share{
  color: $col3;
}
.input-group-addon{
  background-color: white;
}
.newstitle 
{
  color:$col;
  &:hover{
    color:$col3;
    text-decoration: none;
  }
}
.newsdesc{
  color:$col;
}
.error{
  font-size:20px;
  color: $col3;
}
.footer {
  padding: 1px;
  color:white;
}