.source {
  margin-top: 50px;
  margin-left:50px;
  margin-right: 50px;
  background: yellow;
}

.thumbnail {
  height: 500px;
}

.News {
  margin-top: 50px;
  clear:both
}

.newsrow{
  padding: 25px;
}

.newsthumb {
  padding: 30px;
}

.footer {
  background-color: black
}

.Demo__some-network {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}

.login {
  margin-top: 100px;
  background-color: #ED193A;
  color: white;
}
.main {
  background-color: lightgrey;

}
.login {
  margin: 200px 400px;
 background-color: ED193A;
}
body {
  background-color: #73C2BE;
}
GoogleLogin {
  background-color: yellow
}